<!-- As a link -->
<!-- Card -->
<div class="card" style="width: 400px; height: 450px; margin-left: 450px;">

  <!-- Card image -->
  <img class="card-img-top" src="../../../assets/photo1.jpg"  alt="Card image cap">

  <!-- Card content -->
  <div class="card-body">

    <!-- Title -->
    <h4 class="card-title"><a>A Family Based Application</a></h4>
    <!-- Text -->
    <p class="card-text">Add Children View Children Get WHole Family Tree  and much more with this application</p>
    <!-- Button -->
    <a href="/postPersons" class="btn btn-primary">ADD PERSONS</a>

  </div>

</div>
<!-- Card -->
 
