.example-tree-invisible {
      display: none;
  }
  
  .example-tree ul,
  .example-tree li {
    
      list-style-type: none;
  }
  .example-tree{
    background-color: #7ed6df;
background-image: linear-gradient(315deg, #7ed6df 0%, #000000 74%);
  }